In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import os, shutil

In [0]:
df_final= pd.read_csv('/content/gdrive/My Drive/bigdata/df_final3.csv')

In [0]:
df_final.groupby('condition_type_concept_id')['person_id'].agg({'count': len})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  """Entry point for launching an IPython kernel.

                           count
condition_type_concept_id
38000200.0                  1099
38000230.0                 79284

In [0]:
concept_id = pd.read_csv('/content/gdrive/My Drive/bigdata/all_concepts.csv')
c2 = pd.read_csv('/content/gdrive/My Drive/bigdata/concept_codes_final/concept2.csv')

In [0]:
race_id = pd.read_csv('/content/gdrive/My Drive/bigdata/concept_codes_final/person_concepts.csv')

In [0]:
df_final.head(5)

   person_id  year_of_birth  ...  condition_type_concept_id  procedure_num
0          0           1923  ...                 38000230.0            1.0
1         10           1936  ...                 38000230.0            3.0
2        100           1943  ...                 38000230.0          150.0
3     100001           1947  ...                 38000230.0          150.0
4     100003           1936  ...                 38000230.0            1.0

[5 rows x 51 columns]

In [0]:
concept_id.head(5)

   concept_id  ...        table
0     3000453  ...  measurement
1     3000515  ...  measurement
2     3000722  ...  measurement
3     3001405  ...  measurement
4     3001599  ...  measurement

[5 rows x 4 columns]

In [0]:
concept_id['concept_id'] = concept_id['concept_id'].astype(float).astype(str)

In [0]:
c2['id'] = c2['id'].astype(float).astype(str)
race_id['race_concept_id'] =race_id['race_concept_id'].astype(float).astype(str)

In [0]:
df_rename = df_final.iloc[:,np.r_[8:27, 29:48]]

In [0]:
df_rename.head(5)

  2212093.0 2212095.0 2212099.0  ... 4186037.0 4214956.0 40479553.0
0      none      none      none  ...       0.0       1.0        0.0
1     206.0     266.0      83.0  ...       0.0       0.0        0.0
2      none     210.0      none  ...       0.0       0.0        0.0
3     171.0     244.0      none  ...       1.0       1.0        1.0
4      none     196.0      none  ...       0.0       0.0        0.0

[5 rows x 38 columns]

In [0]:
long = ['2212090.0', '2212093.0', '2212095.0', '2212099.0', '2212166.0', '2212168.0'] 
e = dict(zip(long,['basic_metabolic_panel','compreh_metabolic_panel', 'lipid_panel', 'hepatic_func_panel', 'Urinalysis_with_microscopy', 'Urinalysis_without_microscopy']))
df_final = df_final.rename(columns = e)

In [0]:
d = dict(zip(concept_id['concept_id'], concept_id['concept_name']))
df_final = df_final.rename(columns=d)

In [0]:
df_final.head(5)

   Unnamed: 0  person_id  ...         condition_type_concept_id procedure_num
0           0          0  ...  Outpatient header - 1st position           1.0
1           1         10  ...  Outpatient header - 1st position           3.0
2           2        100  ...  Outpatient header - 1st position         150.0
3           3     100001  ...  Outpatient header - 1st position         150.0
4           4     100003  ...  Outpatient header - 1st position           1.0

[5 rows x 52 columns]

In [0]:
#d = dict(zip(obs_id['observation_concept_id'], obs_id['concept_name']))
#df_final = df_final.rename(columns=d)

In [0]:
df_final[n] = df_final[n].replace(to_replace = 'Unknown', value = np.nan).astype(float).astype(str)
df_need = df_final[n]

In [0]:
d = dict(zip(concept_id['concept_id'], concept_id['concept_name']))
d2 = dict(zip(c2['id'], c2['name']))
#df_final = df_final.rename(index = d)
n = ['gender_concept_id', 'ethnicity_concept_id', 'race_concept_id', 'condition_type_concept_id']

df_need = df_need.replace(to_replace = d)

In [0]:
df_need = df_need.replace(to_replace = d2)

In [0]:
d3 = dict(zip(race_id["race_concept_id"], race_id['concept_name']))
df_need = df_need.replace(to_replace = d3)

In [0]:
df_final[n] = df_need.replace(to_replace = np.nan, value = 'Unknown')

In [0]:
df_final = df_final.rename(columns = d2)

In [0]:
df_final.to_csv('gdrive/My Drive/bigdata/df_final4.csv')